.bg-gradient-dark {
    background-image: linear-gradient(270deg, #42424a70 0%, #191919 100%);
}

/*noinspection ALL*/
.book-horizontal-slider {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(10rem, 1fr));
    grid-auto-flow: column;
    overflow-x: auto;
    grid-gap: 2rem;
    grid-auto-columns: minmax(24rem, 1fr);
    width: -webkit-fill-available;
}

.book-horizontal-slider::-webkit-scrollbar {
    height: 8px; /* Tamaño del scroll en horizontal */
}

.book-horizontal-slider::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.book-horizontal-slider::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.book-horizontal-slider::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html.loading, body.loading {
    overflow-y: hidden;
}

div.load {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

div.loading {
    overflow-y: hidden;
    opacity: 0;
}


.spinner {
    position: fixed;
    top: 50%;
    left: 47%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-left-color: transparent;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

